USE TX_SOR
GO

ALTER TABLE [dbo].[INDV] ADD  CONSTRAINT [PK_INDV] PRIMARY KEY CLUSTERED 
(
	[IND_IDN] ASC
)

ALTER TABLE [dbo].[PERSON] ADD  CONSTRAINT [PK_PERSON] PRIMARY KEY CLUSTERED 
(
	[PER_IDN] ASC
)

CREATE INDEX [PERSON_1] ON [dbo].[PERSON] 
(
	[PER_IDN] ASC,
	[IND_IDN] ASC
)

ALTER TABLE [dbo].[NAME] ADD  CONSTRAINT [PK_NAME] PRIMARY KEY CLUSTERED 
(
	[NAM_IDN] ASC
)

ALTER TABLE [dbo].[BRTHDATE] ADD  CONSTRAINT [PK_BRTHDATE] PRIMARY KEY CLUSTERED 
(
	[DOB_IDN] ASC
)

ALTER TABLE [dbo].[COL] ADD  CONSTRAINT [PK_COL] PRIMARY KEY CLUSTERED 
(
	[COL_IDN] ASC
)

--ALTER TABLE [dbo].[APP_COL] ADD  CONSTRAINT [PK_APP_COL] PRIMARY KEY CLUSTERED 
--(
--	[APC_IDN] ASC
--)

ALTER TABLE [dbo].[TBL] ADD  CONSTRAINT [PK_TBL] PRIMARY KEY CLUSTERED 
(
	[TBL_IDN] ASC
)

ALTER TABLE [dbo].[VAL] ADD  CONSTRAINT [PK_VAL] PRIMARY KEY CLUSTERED 
(
	[VAL_IDN] ASC
)

ALTER TABLE [dbo].[VAL_RELN] ADD  CONSTRAINT [PK_VAL_RELN] PRIMARY KEY CLUSTERED 
(
	[VLR_IDN] ASC
)

ALTER TABLE [dbo].[INDV_SOR] ADD  CONSTRAINT [PK_INDV_SOR] PRIMARY KEY CLUSTERED 
(
	[IND_IDN] ASC
)

ALTER TABLE [dbo].[RegistrationEvent] ADD  CONSTRAINT [PK_REGISTRATIONEVENT] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)

CREATE INDEX [RegistrationEvent_IND_IDN] ON [dbo].[RegistrationEvent] 
(
	[IND_IDN] ASC
)

ALTER TABLE [dbo].[Photo] ADD  CONSTRAINT [PK_PHOTO] PRIMARY KEY CLUSTERED 
(
	[PhotoId] ASC
)

CREATE INDEX [PHOTO_IND_IDN] ON [dbo].[Photo] 
(
	[IND_IDN] ASC
)

--ALTER TABLE [dbo].MedicalConditions ADD  CONSTRAINT [PK_MedicalConditions] PRIMARY KEY CLUSTERED 
--(
--	CMC_COD ASC
--)

--ALTER TABLE [dbo].MedicalCondition ADD  CONSTRAINT [PK_MedicalCondition] PRIMARY KEY CLUSTERED 
--(
--	MedicalConditionId ASC
--)

--CREATE INDEX [MedicalCondition_IND_IDN] ON [dbo].[MedicalCondition] 
--(
--	[IND_IDN] ASC
--)

ALTER TABLE [dbo].[Offense] ADD  CONSTRAINT [PK_OFFENSE] PRIMARY KEY CLUSTERED 
(
	[OffenseId] ASC
)



ALTER TABLE [dbo].[AddressEvent] ADD  CONSTRAINT [PK_ADDRESSEVENT] PRIMARY KEY CLUSTERED 
(
	[AddressEventId] ASC
)

CREATE INDEX [AddressEvent_IND_IDN] ON [dbo].[AddressEvent] 
(
	[IND_IDN] ASC
)

CREATE INDEX [AddressEvent_EventID_AddressID] ON [dbo].[AddressEvent] 
(
	[AddressEventId] ASC,
	[EventId] ASC,
	[AddressId] ASC
)

ALTER TABLE [dbo].[Address] ADD  CONSTRAINT [PK_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)

CREATE INDEX [Address_IND_IDN] ON [dbo].[Address] 
(
	[IND_IDN] ASC
)

ALTER TABLE [dbo].[EducationEvent] ADD  CONSTRAINT [PK_EducationEVENT] PRIMARY KEY CLUSTERED 
(
	[EducationEventId] ASC
)

CREATE INDEX [EducationEvent_IND_IDN] ON [dbo].[EducationEvent] 
(
	[IND_IDN] ASC
)

CREATE INDEX [EducationEvent_EventID_EducationID] ON [dbo].[EducationEvent] 
(
	[EducationEventId] ASC,
	[EventId] ASC	
)

ALTER TABLE [dbo].[Education] ADD  CONSTRAINT [PK_Education] PRIMARY KEY CLUSTERED 
(
	[EducationId] ASC
)

CREATE INDEX [Education_IND_IDN] ON [dbo].[Education] 
(
	[IND_IDN] ASC
)

ALTER TABLE [dbo].[OccupationalLicenseEvent] ADD  CONSTRAINT [PK_LicenseEVENT] PRIMARY KEY CLUSTERED 
(
	[LicenseEventId] ASC
)

CREATE INDEX [LicenseEvent_IND_IDN] ON [dbo].[OccupationalLicenseEvent] 
(
	[IND_IDN] ASC
)

CREATE INDEX [LicenseEvent_EventID_LicenseID] ON [dbo].[OccupationalLicenseEvent] 
(
	[LicenseEventId] ASC,
	[EventId] ASC
)

ALTER TABLE [dbo].[OccupationalLicense] ADD  CONSTRAINT [PK_License] PRIMARY KEY CLUSTERED 
(
	[LicenseId] ASC
)

CREATE INDEX [License_IND_IDN] ON [dbo].[OccupationalLicense] 
(
	[IND_IDN] ASC
)

ALTER TABLE [dbo].[OccupationEvent] ADD  CONSTRAINT [PK_OccupationEVENT] PRIMARY KEY CLUSTERED 
(
	[OccupationEventId] ASC
)

CREATE INDEX [OccupationEvent_IND_IDN] ON [dbo].[OccupationEvent] 
(
	[IND_IDN] ASC
)

CREATE INDEX [OccupationEvent_EventID_OccupationID] ON [dbo].[OccupationEvent] 
(
	[OccupationEventId] ASC,
	[EventId] ASC
)

ALTER TABLE [dbo].[Occupation] ADD  CONSTRAINT [PK_Occupation] PRIMARY KEY CLUSTERED 
(
	[OccupationId] ASC
)

CREATE INDEX [Occupation_IND_IDN] ON [dbo].[Occupation] 
(
	[IND_IDN] ASC
)

ALTER TABLE [dbo].[Institute] ADD  CONSTRAINT [PK_INSTITUTE] PRIMARY KEY CLUSTERED 
(
	[InstituteId] ASC
)

ALTER TABLE [dbo].[InstituteCampus] ADD  CONSTRAINT [PK_INSTITUTECAMPUS] PRIMARY KEY CLUSTERED 
(
	[CampusId] ASC
)

ALTER TABLE [dbo].[OccupationalLicenseIssuers] ADD  CONSTRAINT [PK_LICENSEISSUERS] PRIMARY KEY CLUSTERED 
(
	OccupationalLicenseIssuersId ASC
)

ALTER TABLE [dbo].[OFF_CODE_SOR] ADD  CONSTRAINT [PK_OFF_CODE_SOR] PRIMARY KEY CLUSTERED 
(
	COO_COD ASC,
	[COJ_COD] ASC,
	[JOO_COD] ASC,
	[OFF_COD] ASC,
	[VER_NBR] ASC
)

ALTER TABLE [dbo].[TableCodes] ADD  CONSTRAINT [PK_TABLECODES] PRIMARY KEY CLUSTERED 
(
	Schemaname ASC,
	[TBL_COD] ASC,
	[COL_COD] ASC,
	[VAL_COD] ASC
)

ALTER TABLE [dbo].[PlaceCodeTypes] ADD  CONSTRAINT [PK_PLACECODETYPES] PRIMARY KEY CLUSTERED 
(
	[PLT_COD] ASC
)

ALTER TABLE [dbo].[PlaceCodes] ADD  CONSTRAINT [PK_PLACECODES] PRIMARY KEY CLUSTERED 
(
	[PLT_COD] ASC,
	[PLC_COD] ASC
)

--ALTER TABLE [dbo].[RelativeEvent] ADD  CONSTRAINT [PK_RelativeEVENT] PRIMARY KEY CLUSTERED 
--(
--	[RelativeEventId] ASC
--)

--CREATE INDEX [RelativeEvent_IND_IDN] ON [dbo].[RelativeEvent] 
--(
--	[IND_IDN] ASC
--)

--CREATE INDEX [RelativeEvent_EventID_OccupationID] ON [dbo].[RelativeEvent] 
--(
--	[RelativeEventId] ASC,
--	[EventId] ASC
--)

--ALTER TABLE [dbo].[Relative] ADD  CONSTRAINT [PK_Relative] PRIMARY KEY CLUSTERED 
--(
--	[RelativeId] ASC
--)

--CREATE INDEX [Relative_IND_IDN] ON [dbo].[Relative] 
--(
--	[IND_IDN] ASC
--)

--ALTER TABLE [dbo].[DriversLicenseEvent] ADD  CONSTRAINT [PK_DriversLicenseEVENT] PRIMARY KEY CLUSTERED 
--(
--	[DriversLicenseEventId] ASC
--)

--CREATE INDEX [DriversLicenseEvent_IND_IDN] ON [dbo].[DriversLicenseEvent] 
--(
--	[IND_IDN] ASC
--)

--CREATE INDEX [DriversLicenseEvent_EventID_OccupationID] ON [dbo].[DriversLicenseEvent] 
--(
--	[DriversLicenseEventId] ASC,
--	[EventId] ASC
--)

--ALTER TABLE [dbo].[DriversLicense] ADD  CONSTRAINT [PK_DriversLicense] PRIMARY KEY CLUSTERED 
--(
--	[DriversLicenseId] ASC
--)

--CREATE INDEX [DriversLicense_IND_IDN] ON [dbo].[DriversLicense] 
--(
--	[IND_IDN] ASC
--)

ALTER TABLE [dbo].[EmailEvent] ADD  CONSTRAINT [PK_EmailEVENT] PRIMARY KEY CLUSTERED 
(
	[EmailEventId] ASC
)

CREATE INDEX [EmailEvent_IND_IDN] ON [dbo].[EmailEvent] 
(
	[IND_IDN] ASC
)

CREATE INDEX [EmailEvent_EventID_OccupationID] ON [dbo].[EmailEvent] 
(
	[EmailEventId] ASC,
	[EventId] ASC
)

ALTER TABLE [dbo].[Email] ADD  CONSTRAINT [PK_Email] PRIMARY KEY CLUSTERED 
(
	[EmailId] ASC
)

CREATE INDEX [Email_IND_IDN] ON [dbo].[Email] 
(
	[IND_IDN] ASC
)

--ALTER TABLE [dbo].[TelephoneEvent] ADD  CONSTRAINT [PK_TelephoneEVENT] PRIMARY KEY CLUSTERED 
--(
--	[TelephoneEventId] ASC
--)

--CREATE INDEX [TelephoneEvent_IND_IDN] ON [dbo].[TelephoneEvent] 
--(
--	[IND_IDN] ASC
--)

--CREATE INDEX [TelephoneEvent_EventID_OccupationID] ON [dbo].[TelephoneEvent] 
--(
--	[TelephoneEventId] ASC,
--	[EventId] ASC
--)

--ALTER TABLE [dbo].[Telephone] ADD  CONSTRAINT [PK_Telephone] PRIMARY KEY CLUSTERED 
--(
--	[TelephoneId] ASC
--)

--CREATE INDEX [Telephone_IND_IDN] ON [dbo].[Telephone] 
--(
--	[IND_IDN] ASC
--)

ALTER TABLE [dbo].[InternetIdentifierEvent] ADD  CONSTRAINT [PK_InternetIdentifierEVENT] PRIMARY KEY CLUSTERED 
(
	[InternetIdentifierEventId] ASC
)

CREATE INDEX [InternetIdentifierEvent_IND_IDN] ON [dbo].[InternetIdentifierEvent] 
(
	[IND_IDN] ASC
)

CREATE INDEX [InternetIdentifierEvent_EventID_OccupationID] ON [dbo].[InternetIdentifierEvent] 
(
	[InternetIdentifierEventId] ASC,
	[EventId] ASC
)

ALTER TABLE [dbo].[InternetIdentifier] ADD  CONSTRAINT [PK_InternetIdentifier] PRIMARY KEY CLUSTERED 
(
	[InternetIdentifierId] ASC
)

CREATE INDEX [InternetIdentifier_IND_IDN] ON [dbo].[InternetIdentifier] 
(
	[IND_IDN] ASC
)